<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>註冊</title>
<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" media="screen" />
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss-articles/" />
</head>
<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="wrap">

<div id="header">
<h1><img src="../tree.jpg" alt="tree" width="65" height="65" align="bottom" />加入會員</h1>

</div>


<div id="content">
  <h2><img src="../tree.jpg" alt="tree" width="25" height="25" align="bottom" />帳號密碼 </h2>
  <form id="form1" method="post" action=""> 
    <div align="right">
      <table width="710" border="0">
        <tr>
          <th width="139" scope="row">會員帳號</th>
          <th width="561" scope="row"><label for="act"></label>
            <input type="text" name="account" id="account" /></th>
          </tr>
        <tr>
          <th scope="row">會員信箱</th>
          <th scope="row"><label for="email"></label>
            <input type="text" name="email" id="email" /></th>
          </tr>
        <tr>
          <th scope="row">會員密碼</th>
          <th scope="row"><label for="psw"></label>
            <input type="password" name="passwd" id="passwd" /></th>
          </tr>
        <tr>
          </tr>
      </table>
    </div>
  <h2>	<img src="../tree.jpg" alt="tree" width="25" height="25" align="bottom" />個人資料</h2>
    <div align="right"></div>
    <div align="right">
      <table width="710" border="0">
        <tr>
          <th width="137" scope="row">姓名</th>
          <td width="563"><label for="name"></label>
            <div align="center">
              <input type="text" name="name" id="name" />
            </div></td>
          </tr>
        <tr>
          <th scope="row">暱稱</th>
          <td><div align="center">
            <label for="nickname"></label>
            <input type="text" name="nickname" id="nickname" />
            </div></td>
          </tr>
        <tr>
          <th scope="row">性別</th>
          <td><div align="center">
            <label for="12"></label>
            <p>
              <label>
                <input type="radio" name="sex" value="1" id="sex" />
                男</label>
              <label>
                <input type="radio" name="sex" value="0" id="sex" />
                女</label>
              <br />
              </p>
            </div></td>
          </tr>
        <tr>
          <th scope="row">生日</th>
          <td><div align="center">
            <label>
              <input type="text" name="birthday" id="birthday" />
              </label>
            </div></td>
          </tr>
        <tr>
        <tr>
          <th colspan="2" scope="row"><p>
            <input type="submit" name="button" id="button" value="送出" />
            <input type="hidden" value="直接登入" />
            <a href="{% url 'born_user.views.login' %}">直接登入</a>
          </p></th>
          </tr>
      </table>
    </div>
  </form>
  <p></p>
</div>

<div id="bottom"> </div>

<div id="footer"></div>

</div>
</body>
</html>
